.flex-container, html, body {
    height: 100%;
    margin: 0;
}

.row { 
    display:flex;
    border: 4px solid brown;
    flex: 1 1 auto;
}

.column { 
    
}

@media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
}
.flex-container { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.change-color {
    background-color: brown;
}
 